html,
body {
  padding: 0;
  margin: 0;
  font-family: Hurricane, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #24c6dc;
  background: -webkit-linear-gradient(to right, #514a9d, #24c6dc);
  background: linear-gradient(to right, #514a9d, #24c6dc);

  min-height: 100vh;
}

.tilt {
  background: #5433ff;
  background: -webkit-linear-gradient(to right, #a5fecb, #20bdff, #5433ff);
  background: linear-gradient(to right, #a5fecb, #20bdff, #5433ff);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #f21432 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
